.nav2 a:hover{
    background-color: lightgray;
}
.nav3{
    margin-left: -90px;
    height: 500px;
    overflow-y: scroll;
}
.nav3 a{
    border-bottom: 0.5px solid rgb(172, 172, 172);
    padding: 13px;
}
.sidemenu{
    border: 1px solid rgba(213, 209, 209, 0.647);
    height: 500px;
            /* overflow-y:scroll; */
    scrollbar-width:none ;
    
  
}
.sidemenu a:hover{
    
    background-color: rgba(127, 255, 212, 0.274);

}
.sidemenu a{
   
    border-bottom: 0.5px solid rgba(204, 209, 206, 0.756);
    padding: 10px;
}
.sidemenu img{
    margin-top: 10px;
}
.box{
    margin: auto;
    transition: 0.5s;
}
.shopping{
    position: relative;
    text-align: right;
}
.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 15px;
    row-gap:10px;
    margin-top: 50px;
}
.cart-h5{
    color:#E8BC0E;
    font-weight: 600;
    margin: 0;
    padding: 0 20px;
    height: 0px;
    display: flex;
    align-items: center;

}

.card .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
.card .checkout div{
    background-color:#E8BC0E; 
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkout div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}

/* .active .card{
    left:calc(100%-500px)
} */
/* .active .box{
    transform: translate(-200px);
} */
.list{
    border-radius: 5px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 10px 10px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    width: 100%;
    font-weight: 700;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3,1fr);
    row-gap: 10px;
    margin-bottom: 20px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard button{
    width: auto;
    border: none;
}
.listCard .count{
    margin:  0 10px;
}
.animation-placeholder{
    position: absolute;
    top: 50%;
    left: 450px;
    transform: translateY(-80%);
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    color: #878787;
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
}
@keyframes changeValue{
    0%{transform: translateY(-50%);opacity:1;}
    100%{transform: translateY(-150%);opacity:0;}

}
@keyframes InchangeValue{
    0%{transform: translateY(50%);opacity:0;}
    100%{transform: translateY(-50%);opacity:1;}

}
#button{
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s,opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after{
    /* content: "U+F286"; */
    font-family: serif;
    font-weight: normal;
    font-style: normal;
    font-size: 4em;
    line-height: 50px;
    color: #fff;
}
#button:hover{
    cursor: pointer;
    background-color: #333;
}
#button:active{
    background-color: #555;
}
#button.show{
    opacity: 1;
    visibility: visible;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item-details {
    flex-grow: 1;
}

.btn {
    margin: 0 5px;
}



.cart-item-image {
    width: 65px;
    height: 60px;
    object-fit: fill;
    margin-right: 10px;
}

.cart-item-details {
    flex-grow: 1;
}

.btn {
    margin: 0 5px;
}












